h1 {
  font-family: 'Brush Script MT', cursive;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: rgb(253, 242, 232);
}

.logo {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.logo img {
    width: 80px;
    height: auto;
}


.menu {
    flex: 1;
    display: flex;
    justify-content: center;
    background-color: rgb(250, 218, 221);
    border-radius: 20px;
    padding: 10px 30px;
    gap: 40px;
    transition: transform 0.2s ease;
}

.menu a:hover{
    text-decoration: none;
    color: #beb7a4;
}
.menu a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.menu:hover {
    transform: scale(1.05);
}

.koszyk {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.koszyk img {
    width: 40px;
    height: auto;
}

body {
  margin: 0;
  padding: 0;
}

.banner-img {
    width: 100%;
    height: auto;
    display: block;
}