h1 {
  font-family: 'Brush Script MT', cursive;
  align-items: center;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: rgb(253, 242, 232);
}

.logo {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.logo img {
    width: 80px;
    height: auto;
}


.menu {
    flex: 1;
    display: flex;
    justify-content: center;
    background-color: rgb(250, 218, 221);
    border-radius: 20px;
    padding: 10px 30px;
    gap: 40px;
    transition: transform 0.2s ease;
}

.menu a:hover{
    text-decoration: none;
    color: #e07070;
}
.menu a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.menu:hover {
    transform: scale(1.05);
}

.koszyk {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.koszyk img {
    width: 40px;
    height: auto;
}

body {
  margin: 0;
  padding: 0;
}

.banner-img {
    width: 100%;
    height: auto;
    display: block;
}

.kontakt-img {
  display: block;        
  width: 80%;
  margin: 10px auto;     
  border-radius: 24px;
  overflow: hidden;
  box-shadow: 0 15px 40px rgba(0,0,0,0.08);
}

.footer {
  background-color: rgb(253, 242, 232);
  padding: 40px 60px;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  gap: 350px;
}

/* LEWA */
.footer-left img {
  width: 130px;
  margin-bottom: 12px;
  display: block;
}

.footer-left p {
  font-size: 0.9rem;
  color: #555;
  text-align: left;
  line-height: 1.6;
  margin-bottom: 14px;
}


/* PRAWA */
.footer-right h4 {
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 14px;
}

.footer-right p {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 10px;
  line-height: 1.6;
}

.footer-right i {
  color: #e07070;
  margin-right: 6px;
}