<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>YuluKids</title>
</head>
<body>
    <header class="header">
        <div class="logo">
            <img src="grafika/logo.png" alt="logo">
        </div>
       <nav class="menu">
        <a href="{% url 'home' %}">Strona główna</a>
        <a href="{% url 'kontakt' %}">Kontakt</a>
        <a href="{% url 'login' %}">Zaloguj się</a>
        </nav>
        <div class="koszyk">
            
        </div>
    </header>

</body>
<footer>

</footer>