{% load static %}

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Reset hasła</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

<div class="register-box">
    <h1>Reset hasła</h1>

    {% if messages %}
        {% for message in messages %}
            <div class="success-box">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <p>
        Wpisz adres e-mail przypisany do konta.
    </p>

    <form method="POST">
        {% csrf_token %}

        <input
            type="email"
            name="email"
            placeholder="Adres e-mail"
            required
        >

        <button type="submit">
            Wyślij link resetujący
        </button>
    </form>
</div>

</body>
</html>