{% load static %}
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>YuluKids</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header class="header">
        <div class="logo">
            <a href="{% url 'home' %}"><img src="{% static 'grafika/logo.png' %}" alt="logo"></a>
        </div>
        <nav class="menu">
            <a href="{% url 'home' %}">Strona główna</a>
            <a href="{% url 'kontakt' %}">Kontakt</a>
            <a href="{% url 'login' %}">Zaloguj się</a>
        </nav>
        <div class="koszyk">
            <a href="{% url 'cart' %}"><img src="{% static 'grafika/cart.png' %}" alt="koszyk"></a>
        </div>
    </header>

    <section class="banner">
        <img src="{% static 'grafika/baner.png' %}" alt="Baner" class="banner-img">
    </section>

    <h1>YuluKids – małe sukienki, wielkie marzenia</h1>
    <h2>Nasze produkty</h2>
    {% load static %}

{% load static %}

<div class="products-grid">
    {% for product in products %}
    <div class="product-card">
        {% if product.image %}
            <img src="{% static 'grafika/' %}{{ product.image }}" alt="{{ product.name }}" class="product-img">
        {% else %}
            <img src="{% static 'grafika/produkt1.png' %}" alt="brak zdjęcia" class="product-img">
        {% endif %}
        <h3 class="product-name">{{ product.name }}</h3>
        <b class="product-price">{{ product.price }} zł</b> 

        <form method="POST" action="{% url 'add_to_cart' product.id %}">
            {% csrf_token %}
            <button type="submit" class="btn-cart">Dodaj do koszyka</button>
        </form>
    </div>
    {% endfor %}
</div>
   
    <footer class="footer">
  <div class="footer-container">

    <!-- LEWA -->
    <div class="footer-left">
      <a href="{% url 'home' %}">
        <img src="{% static 'grafika/logo.png' %}" alt="logo">
      </a>
      <p>Sukienki dla małych księżniczek<br>na każdą wyjątkową chwilę.</p>
      
    </div>

    <!-- PRAWA -->
    <div class="footer-right">
      <h4>Kontakt</h4>
      <p>ul. Kwiatowa 12<br>00-123 Warszawa</p>
      <p><i class="fas fa-phone"></i> +48 123 456 789</p>
      <p><i class="fas fa-envelope"></i> kontakt@YuluKids.pl</p>
      <p><i class="fas fa-clock"></i> Pon. - Pt.: 9:00 - 17:00</p>
    </div>

  </div>
</footer>
</body>

</html>