{% load static %}
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>YuluKids</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header class="header">
        <div class="logo">
            <a href="{% url 'home' %}"><img src="{% static 'grafika/logo.png' %}" alt="logo"></a>
        </div>
        <nav class="menu">
            <a href="{% url 'home' %}">Strona główna</a>
            <a href="{% url 'kontakt' %}">Kontakt</a>
            <a href="{% url 'login' %}">Zaloguj się</a>
        </nav>
        <div class="koszyk">
            <a href="{% url 'cart' %}"><img src="{% static 'grafika/cart.png' %}" alt="koszyk"></a>
        </div>
    </header>

    <footer>
    </footer>
</body>
</html>