{% load static %}
<html lang="pl">
<head>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <meta charset="UTF-8">
    <title>YuluKids</title>
    
</head>
<body>
    <header class="header">
        <div class="logo">
            <a href="{% url 'home' %}"><img src="{% static 'logo.png' %}" alt="logo"></a>

        </div>
       <nav class="menu">
        <a href="{% url 'home' %}">Strona główna</a>
        <a href="{% url 'kontakt' %}">Kontakt</a>
        <a href="{% url 'login' %}">Zaloguj się</a>
        </nav>
        <div class="koszyk">
               {% load static %}
            <a href="{% url 'cart' %}"><img src="{% static 'cart.png' %}" alt="koszyk"></a>

        </div>
    </header>

</body>
<footer>

</footer>