{% load static %}

<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Wysłano wiadomość</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body class="reset-page">

<div class="reset-box">
    <a href="{% url 'home' %}">
        <img src="{% static 'grafika/logo.png' %}" class="reset-logo" alt="logo">
    </a>

    <h1>Sprawdź e-mail</h1>

    <p>
        Jeśli konto z takim adresem istnieje, wysłaliśmy link do resetowania hasła.
    </p>

    <a href="{% url 'login' %}" class="reset-link">
        Wróć do logowania
    </a>
</div>

</body>
</html>