{% load static %}

<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Nowe hasło</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body class="reset-page">

<div class="reset-box">

    <a href="{% url 'home' %}">
        <img src="{% static 'grafika/logo.png' %}" class="reset-logo" alt="logo">
    </a>

    <h1>Nowe hasło</h1>

    <p>Wpisz nowe hasło do swojego konta.</p>

    <form method="POST">
    {% csrf_token %}

    {{ form.new_password1.label_tag }}
    {{ form.new_password1 }}

    {{ form.new_password2.label_tag }}
    {{ form.new_password2 }}

    <div id="passwordInfo" class="password-live-info">
        Hasło musi mieć minimum 8 znaków.
    </div>

    <div id="passwordMatch" class="password-live-info"></div>

    <button type="submit">Zmień hasło</button>
</form>

</div>

<script>
const password1 = document.getElementById("id_new_password1");
const password2 = document.getElementById("id_new_password2");
const passwordInfo = document.getElementById("passwordInfo");
const passwordMatch = document.getElementById("passwordMatch");

password1.addEventListener("input", function () {
    const value = password1.value;

    if (value.length === 0) {
        passwordInfo.textContent = "Hasło musi mieć minimum 8 znaków.";
        passwordInfo.style.color = "gray";
    } else if (value.length < 8) {
        passwordInfo.textContent = "Hasło jest za krótkie.";
        passwordInfo.style.color = "red";
    } else if (!/[0-9]/.test(value)) {
        passwordInfo.textContent = "Dodaj przynajmniej jedną cyfrę.";
        passwordInfo.style.color = "orange";
    } else {
        passwordInfo.textContent = "Hasło wygląda dobrze.";
        passwordInfo.style.color = "green";
    }
});

password2.addEventListener("input", function () {
    if (password2.value.length === 0) {
        passwordMatch.textContent = "";
    } else if (password2.value !== password1.value) {
        passwordMatch.textContent = "Hasła nie są takie same.";
        passwordMatch.style.color = "red";
    } else {
        passwordMatch.textContent = "Hasła są takie same.";
        passwordMatch.style.color = "green";
    }
});
</script>

</body>
</html>