{% load static %}

<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Reset hasła</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body class="reset-page">

    <div class="reset-box">
        <a href="{% url 'home' %}">
            <img src="{% static 'grafika/logo.png' %}" class="reset-logo" alt="logo">
        </a>

        <h1>Reset hasła</h1>

        <p>Wpisz adres e-mail przypisany do konta.</p>

        <form method="POST">
            {% csrf_token %}

            {{ form.email }}

            <button type="submit">
                Wyślij link resetujący
            </button>
        </form>

        <a href="{% url 'login' %}" class="reset-link">
            Wróć do logowania
        </a>
    </div>

</body>
</html>