{% load static %}
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>YuluKids</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header class="header">
        <div class="logo">
            <a href="{% url 'home' %}"><img src="{% static 'grafika/logo.png' %}" alt="logo"></a>
        </div>
        <nav class="menu">
            <a href="{% url 'home' %}">Strona główna</a>
            <a href="{% url 'kontakt' %}">Kontakt</a>
            <a href="{% url 'login' %}">Zaloguj się</a>
        </nav>
        <div class="koszyk">
            <a href="{% url 'cart' %}"><img src="{% static 'grafika/cart.png' %}" alt="koszyk"></a>
        </div>
    </header>
    <section class="register-container">

    <div class="register-box">

        <h1>Zarejestruj się</h1>

        <form method="POST">

            {% csrf_token %}

            <input type="text"
                   name="first_name"
                   placeholder="Imię"
                   required>

            <input type="text"
                   name="last_name"
                   placeholder="Nazwisko"
                   required>

            <input type="email"
                   name="email"
                   placeholder="Adres e-mail"
                   required>

            <input type="password"
                   id="password1"
                   name="password1"
                   placeholder="Hasło"
                   required>

            <input type="password"
                   id="password2"
                   name="password2"
                   placeholder="Powtórz hasło"
                   required>

            <p id="password-message"></p>

            <button type="submit">
                Załóż konto
            </button>

        </form>

        <p class="login-text">
            Masz już konto?
            <a href="{% url 'login' %}">
                Zaloguj się
            </a>
        </p>

    </div>

</section>


    
    <footer class="footer">
  <div class="footer-container">

    <!-- LEWA -->
    <div class="footer-left">
      <a href="{% url 'home' %}">
        <img src="{% static 'grafika/logo.png' %}" alt="logo">
      </a>
      <p>Sukienki dla małych księżniczek<br>na każdą wyjątkową chwilę.</p>
      
    </div>

    <!-- PRAWA -->
    <div class="footer-right">
      <h4>Kontakt</h4>
      <p>ul. Kwiatowa 12<br>00-123 Warszawa</p>
      <p><i class="fas fa-phone"></i> +48 123 456 789</p>
      <p><i class="fas fa-envelope"></i> kontakt@YuluKids.pl</p>
      <p><i class="fas fa-clock"></i> Pon. - Pt.: 9:00 - 17:00</p>
    </div>

  </div>
</footer>

<script>

const password1 = document.getElementById("password1");
const password2 = document.getElementById("password2");
const message = document.getElementById("password-message");

function checkPasswords(){

    if(password2.value === ""){
        message.innerHTML = "";
        return;
    }

    if(password1.value === password2.value){

        message.innerHTML = "Hasła są zgodne";
        message.style.color = "green";

    }else{

        message.innerHTML = "Hasła nie są takie same";
        message.style.color = "red";
    }
}

password1.addEventListener("keyup", checkPasswords);
password2.addEventListener("keyup", checkPasswords);

</script>

</body>
</html>

